<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
<div >
    <div class="sl-mainpanel" >


        <div class="sl-pagebody">
            <div class="sl-page-title">
                <h5>Parameter Table</h5>

            </div><!-- sl-page-title -->

            <div class="card pd-20 pd-sm-40">
                <h6 class="card-body-title">Parameter List
                    <a href="#" class="btn btn-sm btn-warning" style="float: right;" data-toggle="modal" data-target="#modaldemo3">Add New</a>
                </h6>


                <div class="table-wrapper">
                    <table id="datatable1" class="table display responsive nowrap">
                        <thead>
                        <tr>
                            <th class="wd-15p">ID</th>
                            <th class="wd-15p">Name</th>
                            <th class="wd-15p">Value</th>
                            <th class="wd-20p">Action</th>

                        </tr>
                        </thead>
                        <tbody>


                        <tr th:each="parameter,i: ${parameters}">
                            <td th:text="${i.count}" />
                            <td th:text="${parameter.getName()}" />
                            <td th:text="${parameter.getvalue()}" />

                            <td>
                                <a th:href="@{edit/parameter/{id}(id=${parameter.getId()})}" class="btn btn-sm btn-info"><i class="fa fa-edit"></i></a>
                                <a th:href="@{delete/parameter/{id}(id=${parameter.getId()})}" class="btn btn-sm btn-danger" id="delete"><i class="fa fa-trash"></i></a>
                            </td>


                        </tr>


                        </tbody>
                    </table>
                </div><!-- table-wrapper -->
            </div><!-- card -->




        </div><!-- sl-mainpanel -->



        <!-- LARGE MODAL -->
        <div id="modaldemo3" class="modal fade">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content tx-size-sm">
                    <div class="modal-header pd-x-20">
                        <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">Paramter Add</h6>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>


                    <form action="#"  th:action="@{/add/parameter}"  method="post">

                        <div class="modal-body pd-20">
                            <div class="form-group">
                                <label >Name</label>
                                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="name" name="name">

                            </div>
                            <div class="form-group">
                                <label >Value</label>
                                <input type="text" class="form-control" id="value" aria-describedby="emailHelp" placeholder="value" name="value0">

                            </div>


                        </div><!-- modal-body -->
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-info pd-x-20">Sumbit</button>
                            <button type="button" class="btn btn-secondary pd-x-20" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div><!-- modal-dialog -->
        </div><!-- modal -->




    </div>


</div>
</body>
</html>