<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<head>
    <title tiles:fragment="title">Messages : Create</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        </head>

<body>

<script>

    $(document).ready(function () {
        //event handler for submit button
        $("#btnSubmit").click(function () {
            //collect userName and password entered by users
            var userName = $("#username").val();
            var password = $("#password").val();
            //call the authenticate function
            authenticate(userName, password);
        });
    });

    //authenticate function to make ajax call
    function authenticate(userName, password) {
        $.ajax
        ({
            type: "POST",
            //the url where you want to sent the userName and password to
            url: "http://localhost:8080/authenticate",
            dataType: 'json',
            contentType: 'application/json',
            async: false,
            //json object to sent to the authentication url
            data: '{"username": "' + userName + '", "password" : "' + password + '"}',
            success: function (data) {
                //do any process for successful authentication here
                console.log(data);
/*
                window.location.href="http://localhost:8080/";
*/
            }
        })
    }


</script>



            <legend>Please Login</legend>
            <label for="username">Username</label>
            <input type="text" id="username" name="username"/>
            <label for="password">Password</label>
            <input type="password" id="password" name="password"/>
            <button id="btnSubmit"  class="btn">Log in</button>

</body>


</html>