<div class="container text-center">
    <div>
        <h1>User Registration - Sign Up</h1>
    </div>
    <form id="form"
          method="post" style="max-width: 600px; margin: 0 auto;">
        <div class="m-3">
            <div class="form-group row">
                <label class="col-4 col-form-label">Name: </label>
                <div class="col-8">
                    <input id="name" type="text"  class="form-control" required />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-4 col-form-label">username: </label>
                <div class="col-8">
                    <input id="username" type="text" class="form-control"
                           required minlength="2" maxlength="20"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-4 col-form-label">password: </label>
                <div class="col-8">
                    <input id="password" type="password" class="form-control"
                           required minlength="0" maxlength="10"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-4 col-form-label">Role: </label>
                <div class="col-8">
                    <select id="role" class="form-control">
                        <option value="ROLE_USER">User</option>
                        <option value="ROLE_ADMIN">Admin</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </div>
        </div>
    </form>
</div>

<script>
    const myForm = document.getElementById("form");
    myForm.addEventListener('submit',function (e) {
        e.preventDefault();

        const myData = {'id': "null",
                'name':document.getElementById('name').valueOf(),
                'username': document.getElementById('username').valueOf(),
                'password': document.getElementById('password').valueOf(),
                'roles': []}

        const myHeaders = new Headers();
        myHeaders.append('contentType','application/json');
        myHeaders.append('accept','application/json');


        const  myRequest = new Request(
            'http://localhost:8080/api/user/save',
            {method:'POST',
                headers:myHeaders,
                body:JSON.stringify(myData)}
        );
        postAnotherPage(myRequest);س

        const roleToUser = {'username':document.getElementById('username').valueOf(),
            'roleName': document.getElementById('role').valueOf()
        }
        const myRoleRequest = new Request(
            'http://localhost:8080/api/role/addtouser',
            {method:'POST', headers:myHeaders, body:roleToUser}
        )
        postAnotherPage(myRoleRequest);

    })
</script>